.darkMode {
  background-image: linear-gradient(
    to right top,
    #1d73d3,
    #1e72cf,
    #1f71cb,
    #206fc6,
    #216ec2,
    #1178c6,
    #0181ca,
    #008acc,
    #009fd3,
    #00b2d4,
    #3dc5d4,
    #68d6d2
  );
}

/* .darkMode p,
.darkMode h2,
.darkMode h3 {
  color: black;
} */

.lightMode {
  background: linear-gradient(rgb(69, 0, 0), #00001c);
}

/* .lightMode p,
.lightMode h2 {
  color: white;
} */

a {
  text-decoration: none;
}
