.titleH1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 5rem;
}

.lightMode {
  color: white;
}

.darkMode {
  color: white;
}

.caseData {
  height: 17rem;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 5px 15px 5px white;
  box-shadow: 4px 5px 15px 5px white;
  backdrop-filter: blur(4px);
}

.lightMode .caseData {
  color: white;
}

.darkmode .caseData {
  color: white;
}

.caseData p {
  font-size: 3rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.containerDate {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  padding-top: 5rem;
}

.caseData p:nth-child(1) {
  font-size: 5rem;
}

@media screen and (width > 760px) {
  .caseData {
    height: 20rem;
    width: 20rem;
  }

  .containerDate {
    gap: 2rem;
  }
}
