.titleH1 {
  text-align: center;
  font-size: 5rem;
  color: #daa520;
  padding-top: 5rem;
}

.caseData {
  height: 17rem;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: #efcf7e;
}

.lightMode .caseData {
  color: black;
}

.darkmode .caseData {
  color: black;
}

.caseData p {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 69);
}

.containerDate {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  padding-top: 5rem;
}

.caseData p:nth-child(1) {
  font-size: 5rem;
}

@media screen and (width > 760px) {
  .caseData {
    height: 20rem;
    width: 20rem;
  }

  .containerDate {
    gap: 2rem;
  }
}
