.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.switch {
  padding: 1vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.darkMode svg {
  fill: white;
}
.lightMode svg {
  fill: white;
}
