.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  padding-top: 5rem;
}

.switch {
  position: absolute;
  left: 85rem;
  bottom: 40rem;
  padding: 1vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.switch svg {
  height: 3rem;
  width: 3rem;
}

.darkMode svg {
  fill: white;
}
.lightMode svg {
  fill: white;
}
