.questionContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainerCard {
  border: red 2px solid;
  height: 50rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  border: red 2px solid;
  width: 40%;
  height: 40%;
}

.imageContainer img {
  height: 100%;
  width: 100%;
}

.question {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
