@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Festive";
}

body {
  background: linear-gradient(rgb(0, 0, 69), #00001c);
}
